
header{height:130px;
  width: 100%;
  background-color: rgb(77, 77, 245);}
/* body{
  background-color: lightgray;
  background-size:contain;
  background-repeat:no-repeat; */
/* } */
h1 {
  color: gray;
  font-size: 68px;
  width: 50%;
  margin-left: 40px;
}
h2{
  border: 3px solid lightgray;
  font-size: 48px;
  color: white;
  background-color: rgb(77, 77, 245);
  
  margin: 100px 425px 30px 400px
}

h4{
  font-size: 32px;
}
h5{

  font-size: 48px;
}
